@model TransportCompany.Models.CodeFirst.Position;
@{
    ViewData["Title"] = "Добавить должность";
}

<h2>Добавить должность</h2>
<div>
    @Html.ActionLink("Все должности","Index")
</div>

<div>
    <form method="post">
        @Html.EditorForModel()
        <input type="submit" value="Добавить" />
    </form>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}