@model TransportCompany.Models.CodeFirst.TariffPlan
@{
    ViewData["Title"] = "Добавить тариф";
}

<h2>Добавить тариф</h2>

<div>
    @Html.ActionLink("Все тарифы","Index")
</div>

<div>
    <form method="post">
        @Html.EditorForModel()
        <input type="submit" value="Добавить" />
    </form>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}