@model TransportCompany.Models.CodeFirst.TariffPlan
@{
    ViewData["Title"] = "Редактирование тарифа";
}

<h2>Редактирование тарифа</h2>

<div>
    @Html.ActionLink("Добавить тариф", "Create")
    @Html.ActionLink("Все тарифы", "Index")
</div>

<div>
    <form method="post">
        @Html.EditorForModel()
        <input type="submit" value="Сохранить" onclick="return confirm('Сохранить изменения?')" />
    </form>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}