@model TransportCompany.Models.CodeFirst.TariffPlan
@{
    ViewData["Title"] = "Edit";
}

<h2>Create</h2>


<div>
    <form method="post">
        @Html.EditorForModel()
        <input type="submit" value="Сохранить измененя" />
    </form>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}